{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!--
<div class="page-header"><h1>Jam!</h1></div>
Colors from PennApps

#8d278f - purply
#ed2d91 - pinky
#4dc3d2 - light blue
#f7ec3a - generic yellow
-->

<div class="jumbotron">
    <h1>Jam!</h1>
    <p>
        Let us help you get apply to the job you match
        most closely and land you a job! :)
    </p>

</div>

<form>

<div class="form-group">
    <label for="indeedLink">Indeed Link (Job link, can be any)</label>
    <input type="text" class="form-control" id="indeedLink" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="InputFile">Attach resume (PDF only)</label>
    <input type="file" id="InputFile">
  </div>
  <button type="submit" class="btn btn-default">See your score!</button>
</form>

<style>
    body {
        background-color: #8d278f;
        color: #4dc3d2;
    }
    .jumbotron {
        background-color: #8d278f;

    }

    .container {
        background-color: #ed2d91;
    }

    .navbar {
        background-color: #8d278f;
    }

</style>

<!-- <style>
    @import url('https://fonts.googleapis.com/css?family=VT323');

    body {
        font-family: 'VT323', monospace;
        font-size: 30px;
    }

    .jumbotron {
        margin-bottom: 30px;
    }

</style> -->

{% endblock %}